*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RDS
.Rdat
*.txt
*.png
*.gif
*.csv
results/
results_age/
testing/
presentation/
/results/**/*.RDS
/results/**/*.RData
/results/**/*.dll
/results/**/*.cpp
/results/**/*.o
species_specific_code/GOA/Atheresthes_stomias/VAST-atf_2021.R
/species_specific_code/**/*.png
/species_specific_code/**/*.RData
/species_specific_code/**/*.csv
output/
VAST_results/
.DS_Store
/species_specific_code/BS/yellowfin-sole/production/
/species_specific_code/BS/yellowfin_sole/production
/dev/

!meshes/*
!extrapolation_grids/*