.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDS
.Rdat
.txt
data/
results/
results_age/
testing/
presentation/
/data/
/results/**/*.RDS
/results/**/*.RData
/results/**/*.dll
/results/**/*.cpp
/results/**/*.o
/dev/